/*
	THORNS SUBREDDIT CSS by /u/r3v
	GitHub Repository: https://github.com/r3v/Thorns_Subreddit_CSS

	VERSION 1.1

	HISTORY:
		1.1   - Random sidebar image
		1.0.2 - Fixed swapped title link colors
		1.0.1 - Author link, Sidebar table, RES tweaks, Title links darkened
		1.0   - Initial launch version

		Major thanks are owed to the folks in /r/CSSHelp!
*/


/* BEGIN CHANGES FOR HEADER SECTION --------------------------------------------------- */


/* SHORTCUT BAR */
#sr-header-area {
	background-color: #000000;
	color: #000000;
}
#sr-header-area a {
	color: #C9C9C9;
}


/* CHANGES HEADER BACKGROUND COLOR */
div.sidebox.create{
	display: none;
}
#header-bottom-left {
	 background-color: #D90000;
}


/* CHANGES HEADER SUBREDDIT NAME TO THORNS LOGO */
.pagename a{
	background:url(%%Portland-Thorns-FC-logo-100%%);
	height: 100px;
	width: 100px;
}
#header-bottom-left{
	height: 100px;
}
.pagename a{
	text-indent:-9001px;
}
#header-img-a, .pagename a, .tabmenu {
	display: inline;
	float: left;
}
.tabmenu{
	position:relative;
	top:100%;
	margin-top:-16px!important;
}


/* ANNOUNCEMENT BAR IN HEADER */ /* Based on http://redd.it/mw2ip */
.titlebox form {
	/* Hack to enable repositioning of child elements */
	position: static
}
.side h3:nth-of-type(1) {
	/* this code positions the sticky */
	z-index: 100;
	position:absolute;
	display: block;
	top:43px;
	left:170px;   /* 170 for next to the logo */
	/* this code styles the sticky */
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	margin: 15px;
	border-radius: 2px;
	width: 100%;
	padding: 0px 0px 0px 10px; /* last value positions start of text in the bar */
}
.side h3:nth-of-type(1) a {
	color: #FF0000;
}


/* TAB MENU CHANGES */
#header .tabmenu li a {
	color: #FFFFFF;
	background-color: #333333;
    border-top-left-radius:4px;  /* Rounds the corners */
    border-top-right-radius:4px  /* Rounds the corners */
}
#header .tabmenu li.selected a {
	color: #FF0000;
	background-color: #FFFFFF;
}
#header-bottom-right {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px
}
#header-bottom-right a {
	color: #000000
}
#header-bottom-right b {
	color: #000000
}


/* END CHANGES FOR HEADER SECTION ----------------------------------------------------- */

/* BEGIN CHANGES FOR SIDEBAR SECTION -------------------------------------------------- */


/* CHANGES TO SUBREDDIT NAME IN SIDEBAR */
.side .redditname {
font-size:0;
	 text-align: center ;
}
.side .redditname:after {
	 font-size:18px;
	 content:"/r/Thorns";
}


/* SUBSCRIBERS/HERE NOW CHANGES */
.subscribers .word {
 	display: none;
}
.subscribers .number::after {
	content: " Supporters";
}
.users-online .word {
	display: none;
}
.users-online .number::after {
	content: " Riveters here now";
}


/* CHANGES TO THE LINKINFO BOX IN SIDEBAR */
.linkinfo  {
    background-color:#D90000;
    color:#FFFFFF;
    text-align:center;
    border:0;
    margin:0 auto 3px auto;
}


/* FLAIR "EDIT" BUTTON */
.side a.flairselectbtn {
	color: #990000;
}


/* PRETTY SUBMIT LINKS by /u/RainbowCrash*/
.morelink {
	font-weight:normal;
	letter-spacing:0;
	background: black;
	border: none;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	color: white;
}
.morelink:hover {
	background: #A7B9CB;
	background-color: #FF0000;
	border-color: #000000;
}
.morelink .nub {
	display: none;
}
.morelink {
	color:#FFFFFF;
	font-family:Verdana, Arial, sans-serif;
	font-size:16px;
	width: 145px;
}
.morelink a, .morelink a:hover {
	color: white;
}
.sidebox.submit-link .morelink::before {
	display: block;
	clear: none;
	content: "Submit a Link";
	font-size: 95%;
}
.sidebox.submit-text .morelink::before {
	display: block;
	clear: none;
	content: "Submit a Self Post";
	font-size: 90%;
}
.sidebox.submit .morelink a {
	position: absolute;
	top: 0;
	padding-left: 1000px;
	font-size: 0px;
	text-align: right;
	color: #56a6f7;
}
.sidebox.submit.submit-link {
	width: 150px;
}
.sidebox.submit.submit-text {
	margin-top: -42px; /*Edit this is so the buttons aren't parallel*/
	margin-left: 153px;
}
.sidebox.create {
	display: none;
}
.sidebox.submit.disabled {
	display: none;
}
/* NIGHTMODE FIXES */
.res-nightmode .sidebox.submit.submit-text {
	background: none !important;
	margin-top: -45px;
	margin-left: 153px;
}
.res-nightmode .sidebox {
	padding-left: 0px !important;
	border: 2px solid #151515 !important;
}
.res-nightmode .morelink {
	 height: 29px !important;
}
.res-nightmode .morelink {
	background:rgb(39, 63, 87) !important;
}
.res-nightmode .morelink:hover {
	background: #449ef8 !important;
	background-color: #9edbf8 !important;
	border-color: #9edbf8 !important;
}
/* END NIGHTMODE FIX */
/* END PRETTY SUBMIT LINKS */


/* BEGIN TABLE CHANGES */
.side thead {
	background-color: #000000;
	font-weight: bold;
	color: #FFFFFF;
	border-color: #000000 !important;
	border-width: 1px  !important;
	border-style: solid  !important;
}
.side table {
	font-size: 95%;
	color: #000000 !important ;
	font-weight: lighter;
	background: #FFFFFF;
	border-color: #000000 !important;
	border-width: 1px;
	border-style: solid ;
}
.side tr, .side td {
	border-color: #000000 !important;
	border-width: 1px;
	border-style: solid ;
}
/* END TABLE CHANGES */


/* BEGIN RANDOM SIDEBAR IMAGE */
/* based on http://j.mp/1McAQ9R */
.side {
    /*position: absolute;*/
    /*top: 430px; */
    /*right: 0;*/
		margin-top: 310px;
}
input[name=uh] ~ a:after, .user .login-required:after {
    position: absolute;
    top: 32px;
    right: 0px;
    z-index: 0;
    width: 305px;
    height: 300px; /* was 228 */
    border: 0;
}
.res-navTop input[name=uh] ~ a:after {
    top: 310px;
}
/* 36 possible random images - upload them named rand-01 thru rand-36*/
input[name=uh][value^="0"] ~ a:after { content: url('%%rand-01%%'); }
input[name=uh][value^="1"] ~ a:after { content: url('%%rand-02%%'); }
input[name=uh][value^="2"] ~ a:after { content: url('%%rand-03%%'); }
input[name=uh][value^="3"] ~ a:after { content: url('%%rand-04%%'); }
input[name=uh][value^="4"] ~ a:after { content: url('%%rand-05%%'); }
input[name=uh][value^="5"] ~ a:after { content: url('%%rand-06%%'); }
input[name=uh][value^="6"] ~ a:after { content: url('%%rand-07%%'); }
input[name=uh][value^="7"] ~ a:after { content: url('%%rand-08%%'); }
input[name=uh][value^="8"] ~ a:after { content: url('%%rand-09%%'); }
input[name=uh][value^="9"] ~ a:after { content: url('%%rand-10%%'); }
input[name=uh][value^="a"] ~ a:after { content: url('%%rand-11%%'); }
input[name=uh][value^="b"] ~ a:after { content: url('%%rand-12%%'); }
input[name=uh][value^="c"] ~ a:after { content: url('%%rand-13%%'); }
input[name=uh][value^="d"] ~ a:after { content: url('%%rand-14%%'); }
input[name=uh][value^="e"] ~ a:after { content: url('%%rand-15%%'); }
input[name=uh][value^="f"] ~ a:after { content: url('%%rand-16%%'); }
input[name=uh][value^="g"] ~ a:after { content: url('%%rand-17%%'); }
input[name=uh][value^="h"] ~ a:after { content: url('%%rand-18%%'); }
input[name=uh][value^="i"] ~ a:after { content: url('%%rand-19%%'); }
input[name=uh][value^="j"] ~ a:after { content: url('%%rand-20%%'); }
input[name=uh][value^="k"] ~ a:after { content: url('%%rand-21%%'); }
input[name=uh][value^="l"] ~ a:after { content: url('%%rand-22%%'); }
input[name=uh][value^="m"] ~ a:after { content: url('%%rand-23%%'); }
input[name=uh][value^="n"] ~ a:after { content: url('%%rand-24%%'); }
input[name=uh][value^="o"] ~ a:after { content: url('%%rand-25%%'); }
input[name=uh][value^="p"] ~ a:after { content: url('%%rand-26%%'); }
input[name=uh][value^="q"] ~ a:after { content: url('%%rand-27%%'); }
input[name=uh][value^="r"] ~ a:after { content: url('%%rand-28%%'); }
input[name=uh][value^="s"] ~ a:after { content: url('%%rand-29%%'); }
input[name=uh][value^="t"] ~ a:after { content: url('%%rand-30%%'); }
input[name=uh][value^="u"] ~ a:after { content: url('%%rand-31%%'); }
input[name=uh][value^="v"] ~ a:after { content: url('%%rand-32%%'); }
input[name=uh][value^="w"] ~ a:after { content: url('%%rand-33%%'); }
input[name=uh][value^="x"] ~ a:after { content: url('%%rand-34%%'); }
input[name=uh][value^="y"] ~ a:after { content: url('%%rand-35%%'); }
input[name=uh][value^="z"] ~ a:after { content: url('%%rand-36%%'); }
/*
   At the end of your sidebar description create an H5 link to your subreddit homepage.
   Like this:  #####[Subreddit Name](http://reddit.com/r/SubredditName)
*/
.side .usertext-body h5:last-of-type a {
    position: absolute;
    top: -228px;
    right: -5px;
    width: 300px;
    height: 300px; /* was 228 */
    z-index: 100;
    border: 0px;
    font-size: 0px;
}
/* Pick an image to display to non-logged in users. */
.user .login-required:after { content: url('%%rand-33%%'); }
/* END RANDOM SIDEBAR IMAGE */


/* END CHANGES FOR SIDEBAR SECTION ---------------------------------------------------- */

/* BEGIN MISCELLANEOUS CHANGES  ------------------------------------------------------- */


/* SELF-POST THUMBNAIL ICON */
/* BUG: THIS WORKS, BUT IS CLEARLY NOT RIGHT. */
.self .thumbnail {
	background-image: url(%%Portland-Thorns-FC-logo-faded-70x50%%);
	height: 50px;
}
.self .thumbnail {
	background: url(%%Portland-Thorns-FC-logo-faded-70x50%%) no-repeat 0 0;
	height: 50px;
}


/* CHANGE AUTHOR COLOR */
a.author, .res a.author {
    color: #000000 !important;
}


/* CHANGE MOD HIGHLIGHT */
a.author.moderator, .res a.author.moderator {
	 color: #D90000 !important;
	 padding: 2px;
	 border-radius: 1px;
	 font-weight: bold
}


/* TEXT BOX FOR SELF POSTS */
.link .expando .usertext .md {
	border: 1px solid #000000 !important;
	background-color: #FFFFFF !important;
}


/* COLOR OF STICKIED POST TITLE & TAG */
.stickied .title {
	color: #FF0000 !important;
}
.stickied .title:visited {
	color: #890000 !important;
}
.stickied .stickied-tagline {
	color: #D90000 !important;
}


/* LINK COLOR CHANGES */
.title.click, .title:visited {
	color: #890000 !important;
}
.title:link {
	color: #D90000 !important;
}
.side p a {
	color: #D90000;
}
.side table a {
	color: #D90000;
}


/* END MISCELLANEOUS CHANGES  --------------------------------------------------------- */

/* BEGIN CUSTOM FLAIR CSS ------------------------------------------------------------- */


/* FLAIR CSS */
.flairselector .customizer {
	display: none !important;
}
.flair {
	border: none !important;
	padding:0px;
	background: url(%%spritesheet%%) no-repeat -9999px -9999px;
	display:inline-block;
	text-indent: -9999em;
	white-space: nowrap;
}
.flair-NWSL{
	background-position: 0 0;
	min-width: 22px;
	height: 22px;
	line-height: 22px;
}
.flair-NWSL:hover {
	text-indent: 24px;
}
.flair-Riveters{
	background-position: 0 -72px;
	min-width: 22px;
	height: 22px;
	line-height: 22px;
}
.flair-Riveters:hover {
	text-indent: 24px;
}
.flair-Thorns{
	background-position: 0 -144px;
	min-width: 22px;
	height: 22px;
	line-height: 22px;
}
.flair-Thorns:hover {
	text-indent: 24px;
}

/* END CUSTOM FLAIR CSS --------------------------------------------------------------- */


/* BEGIN REDDIT ENHANCEMENT SUITE (RES) SPECIFIC CHANGES ------------------------------ */


/* RES SPECIFIC: KEYBOARD NAVIGATION BOX TO GREY INSTEAD OF BLUE */
.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .commentarea .noncollapsed .RES-keyNav-activeElement.entry {
    background: #E9E9E9 !important;
}


/* RES SPECIFIC: USERBAR TOGGLE BUTTON */
#userbarToggle {
    background-color: #FFFFFF !important;
    color: #C9C9C9 !important;   /* <-- colours the cursor*/
}


/* RES SPECIFIC: SHORTCUT EDITING CONTROLS IN UPPER RIGHT */
#RESShortcutsEditContainer, #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsLeft {
    background-color: #000000 !important;
    color: #C9C9C9 !important ;
}

/* END REDDIT ENHANCEMENT SUITE (RES) SPECIFIC CHANGES -------------------------------- */




/* Resource List:
	%%Portland-Thorns-FC-logo-300%% - 300x300 Thorns logo
	%%Portland-Thorns-FC-logo-100%% - 100x100 Thorns logo
	%%Portland-Thorns-FC-logo-faded-70x50%% - Used for self post thumbnail
	%%sidebar-image%% - 300x300 Image for the top of the sidebar
	%%spritesheet%% - Sprite sheet for flair.
	    (Made with: http://spritegen.website-performance.org/oldsites/spritegen/htdocs/)
*/
